# The actual environmental file's name must be ".env"
# Find "REPLACE_ME" and replace with the proper values.
goerli=https://goerli.infura.io/v3/REPLACE_ME
fuji=https://api.avax-test.network/ext/bc/C/rpc
eth=https://cloudflare-eth.com
bsc=https://bsc-dataseed1.binance.org
polygon=https://polygon-rpc.com
avax=https://avalanche-evm.publicnode.com

edition001V2PublicKey=REPLACE_ME
edition001V2PrivateKey=REPLACE_ME
oaGrantorPrivateKey=REPLACE_ME
